<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Genius - User Chat</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="title">Support Genius</div>
        <div class="chat-container-wrapper">
            <div class="chat-container">
                <div class="chat-header">
                    User Chat
                </div>
                <div id="chatbox" class="chat-box"></div>
                <div class="chat-input" id="user-input">
                    <input type="text" id="userInput" placeholder="Type your message here...">
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/scripts.js"></script>
</body>
</html>
